@font-face {
  font-family: "block";
  src: url("/block.ttf") format("truetype");
}
html {
  font-size: 100%;
}
html, body, #root {
  height: 100%;
  width: 100%;
}
body, #root {
  margin: 0;
  padding: 0;
  font-family: block, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}